@font-face {
  font-family: "GothamPro";
  src: url("/fonts/gothampro.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;  
}
@font-face {
  font-family: "GothamPro";
  src: url("/fonts/gothampro_medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;  
}
@font-face {
  font-family: "GothamPro";
  src: url("/fonts/gothampro_bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;  
}
@font-face {
  font-family: "GothamPro";
  src: url("/fonts/gothampro_black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;  
}

@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 960px;
  --breakpoint-xl: 1396px;

  --font-gotham: "GothamPro", sans-serif;

  --color-my-yellow:#feb800;
  --color-my-blue:#367cb9;
  --color-my-gray:#eaeaea;

  --radius-1.25: 1.25rem;
}
@utility container {
  margin-inline: auto;
  padding-inline: 1.2rem;
  /*
   @variant sm {
    padding-inline: 20px;
  }
  
  @variant lg {
    padding-inline: 80px;
  }
  
  @variant xl {
    padding-inline: 120px;
  }
    */
}
html {
  @apply font-gotham font-normal text-base text-black;   
}
.main-menu-item {
  @apply relative text-white lg:text-black;
}
.main-menu-item.has-submenu.menu-item-clicked .main-submenu {
  @apply block mt-2;
}